.row {
    text-align: center;
    display: block;
}

#repter > #cup > img {
    width: 30px;
}

h5 {
    display: inline;
    font-weight: bold;
}

#cup {
    margin: 15px 0px 15px 0;
}

div > p {
    font-weight: bold;
    margin: 10px 0 0 0;
    
}

div > span {
    margin-left: 20px;

}

.row > div {
    display: inline-grid;
    margin: 15px;
    border: 1px solid black;
    text-align: left;
    padding: 15px;
}

.n-m {
    margin: 0px;
}

